.card-wrapper {
  padding-top: 76px;
  padding-bottom: 44px;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__all-actions {
    padding: 8px 40px 8px 8px;
    @extend%rubik-400;
    font-size: 16px;
    line-height: 150%;
    color: $hardest;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background-image: url("/images/icons/arrow-right.svg");
      background-size: cover;
      width: 7px;
      height: 13px;
      top: 13px;
      right: 20px;
    }
    &:hover {
      color: darken($hardest, 40%);
    }
  }
}
.cards {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (max-width: 1199px) {
  .card-wrapper {
    padding-top: 64px;
    padding-bottom: 40px;
    &__top {
      margin-bottom: 32px;
    }
    &__title {
      font-size: 24px;
    }
  }
}

@media (max-width: 992px) {
  .cards {
    &__item:last-child {
      display: none;
    }
  }
}

@media (max-width: 730px) {
  .cards {
    &__list{
      flex-wrap: wrap;
    }
    &__item{
      margin-bottom: 16px;
    }
    &__item:last-child {
      display: block;
    }
  }
}


