.map {
  padding-top: 76px;
  padding-bottom: 44px;
  &__title {
    margin-bottom: 40px;
  }
  &__buttons {
    display: flex;
    margin-bottom: 24px;
  }
  &__button {
    padding: 4px 8px;
    height: 32px;
    border: none;
    background-color: $lightest;
    color: $hardest;
    border-radius: 4px;
    @extend%rubik-400;
    font-size: 12px;
    line-height: 150%;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      background-color: $secondary;
      color: $white;
      transition: 0.2s;
    }
  }
  &__button + .map__button {
    margin-left: 24px;
  }
  &__wrapper{
    width: 100%;
    height: 354px;
    background-image: url('/images/map.jpg');
    background-size: contain;
  }
}
