.catalog {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 272px);
    grid-template-rows: repeat(4, 200px);
    grid-gap: 40px;
  }
//   &__item {
    
//   }
  &__link a{
    background: linear-gradient(
      180deg,
      rgba(112, 192, 91, 0) 0%,
      #70c05b 82.81%
    );
  }
  &__milk {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #fff;
  }
  &__zoo {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  &__kolbasa {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}
