* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: $bg;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
footer{
  flex-shrink: 0;
}

ul[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: $surface-text;
}
.container {
  max-width: 1208px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: content-box;

}
.title {
  @extend%rubik-700;
  font-size: 36px;
  line-height: 150%;
  color: $surface-text;
}
