//MAIN COLOR
$bg: #fbf8ec;
$white: #fff;
$secondary: #70c05b;
$primary: #ff6633;
$secondary-lite: #E5FFDE;
$primary-lite: #FCD5BA;
$footer-bg: #F9F4E2;

$bg-text: #291e0f;
$surface-text: #414141;

// GRAYSCALE
$lightest: #f3f2f1;
$light: #bfbfbf;
$hard: #8f8f8f;
$hardest: #606060;

// PALLETE
$succes: #008c49;
$info: #1cb9fc;
$warning: #fca21c;
$error: #d80000;

//FONTS
%rubik-400 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
%rubik-700 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

//height
$height-menu-tablet: 56px;