.footer {
  background-color: $footer-bg;
  background-image: url("/images/footer/bg.svg");
  &__wrapper {
    height: 120px;
    display: flex;
    align-items: center;
  }
}
.footer-list {
  display: flex;
  flex-grow: 1;
  margin-left: 40px;
  @extend%rubik-400;
  font-size: 12px;
  line-height: 150%;
  // перебивает только important
  &__item + .footer-list__item {
    margin-left: 20px;
  }
}
.sublist {
  display: flex;
  &__item a {
    transition: 0.2s;
    &:hover {
      color: darken($hardest, 40%);
      transition: 0.2s;
    }
  }
  &__item + .sublist__item {
    margin-left: 20px;
  }
}
.footer-connection {
  width: 336px;
  display: flex;
  justify-content: space-between;
  &__list {
    width: 144px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__tel {
    display: block;
    width: 152px;
    height: 24px;
    padding-left: 32px;
    position: relative;
    @extend%rubik-400;
    font-size: 16px;
    line-height: 150%;
    &::before {
      position: absolute;
      content: "";
      background-image: url("/images/icons/phone.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 20px;
      height: 20px;
      top: 0;
      right: 125px;
    }
  }
}
@media (max-width: 1199px) {
  .footer {
    &__wrapper {
      padding: 0 16px;
    }
  }
  .footer-connection {
    width: 232px;
    &__list {
      width: 60px;
    }
    &__item {
      margin-left: 0;
      margin-bottom: 10px;
    }
    &__item:nth-child(2n) {
      margin-left: 12px;
    }
  }

  .footer-list {
    &__item + .footer-list__item {
      margin-left: 16px;
    }
  }
  .sublist {
    &__item + .sublist__item {
      margin-left: 16px;
    }
  }
}
@media (max-width: 992px) {
  .footer-list {
    display: block;
  }
  .footer-list {
    &__item {
      margin-left: 0 !important;
    }
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 40px 12px 26px 12px;
    height: 262px;
    padding-bottom: $height-menu-tablet;
    &__wrapper{
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__inner{
      display: flex;
      justify-content: center;
    }
  }
  .footer-list{
    order: 2;
    margin-left: 0;
  }
  .footer-connection{
    order: 1;
    margin-left: 60px;
    display: block;
    width: 152px;
    &__list{
      width: 152px;

    }
  }
}
@media (max-width: 690px) {
  .footer-connection {
    flex-direction: column;
    &__list {
      width: 144px;
      flex-wrap: nowrap;
    }
    &__item + .footer-connection__item {
      margin-left: 20px;
    }
  }
}
@media (max-width: 500px) {
  .footer-list{
    display: flex;
    flex-wrap: wrap;
  }
}

