.modal-wrapper-reg{
  display: none;
  position: absolute;

  z-index: 100;
 
}
.modal-reg {
  width: 687px;
  height: 998px;
  padding: 72px 67.5px 40px;
  box-shadow: 8px 16px 32px rgba(255, 102, 51, 0.2);
  border-radius: 4px;
  @extend%rubik-400;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    text-align: center;
    margin-bottom: 40px;
    @extend%rubik-700;
    font-size: 24px;
    color: #414141;
  }
  &__text {
    text-align: center;
    margin-bottom: 24px;
    @extend%rubik-700;
    font-size: 18px;
    color: #414141;
  }
  &__top-main {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 260px);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 32px;
    row-gap: 16px;
    margin-bottom: 40px;
  }
  &__bottom-main {
    display: grid;
    grid-template-columns: repeat(2, 260px);
    column-gap: 32px;
    row-gap: 16px;
    margin-bottom: 40px;
  }
  &__btn-more {
    width: 260px;
    height: 68px;
    background: #fcd5ba;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    margin-bottom: 40px;
    cursor: pointer;
    color: #ff6633;
  }
  &__btn-login {
    width: 121px;
    height: 32px;
    border: 1px solid #70c05b;
    background-color: transparent;
    color: #70c05b;
    border-radius: 4px;
    cursor: pointer;
  }
}
//указать классы иначе перебиваются стили

// label {
//   color: $hard;
//   @extend%rubik-400;
//   font-size: 16px;
// }

// input,
// select {
//   width: 260px;
//   height: 40px;
//   padding: 8px 6px 8px 16px;
//   border: 1px solid #bfbfbf;
//   color: #414141;
//   border-radius: 4px;
//   @extend%rubik-400;
//   font-size: 16px;
//   background-color: transparent;
//   &:focus {
//     border: 1px solid #70c05b;
//     box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
//   }
// }
// select {
//   padding: 8px 36px 8px 16px;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   position: relative;
//   display: inline-block;
//   z-index: 2;
// }
.select {
  position: relative;
  &:after {
    position: absolute;
    content: "";
    background-image: url("/images/checkbox/aroow-down.svg");
    width: 13px;
    height: 8px;
    top: 50%;
    transform: translateY(-50%);
    right: 13.5px;
    z-index: 1;
  }
}
//кастомный чекбокс начало
.loyal {
  display: flex;
  align-items: center;
  @extend%rubik-400;
  font-size: 16px;
}

.loyal input {
  opacity: 0;
  // z-index: 1;
  width: 20px;
  height: 20px;
}
.loyal label {
  width: 20px;
  height: 20px;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  position: absolute;
}
.loyal input:checked ~ .loyal__label {
  background-color: #70c05b;
  background-image: url(/images/checkbox/ok.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: content;
}

.loyal span {
  margin-left: 8px;
}

.sex {
  &__title{
color: $hard;
  }
  &__wrap {
    background: #f3f2f1;
    display: flex;
    border-radius: 4px;
    width: 260px;
    height: 40px;
    padding: 4px;
  }
  &__row {
    width: 126px;
    height: 32px;
    position: relative;
  }
}

.sex__input {
  opacity: 0;
  z-index: 10;
  cursor: pointer;
  position: absolute;
  border-radius: 4px;
}
.sex__label {
  width: 126px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
color: $surface-text;
  border-radius: 4px;
  position: absolute;
}
.sex__label span {
  display: block;
}

.sex__input {
  width: 126px;
  height: 32px;
}

.sex__row input:checked ~ .sex__label {
  background-color: #70c05b;
  color: $white;
}
