.card-wrapper {
  padding-top: 76px;
  padding-bottom: 44px;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 40px;
  }

  &__all-actions {
    padding: 8px 40px 8px 8px;
    width: 168px;
    height: 40px;
    @extend%rubik-400;
    font-size: 16px;
    line-height: 150%;
    color: $hardest;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background-image: url("/images/icons/arrow-right.svg");
      background-size: cover;
      width: 7px;
      height: 13px;
      top: 13px;
      right: 20px;
    }
    &:hover {
      color: darken($hardest, 40%);
    }
  }
}
.cards {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 272px);
    gap: 40px;
  }
  &__list-main {
    display: grid;
    grid-template-columns: repeat(4, minmax(160px, 1fr));
    grid-template-rows: 1fr;
    gap: 40px;
  }
}

@media (max-width: 792px) {
  .cards {
    &__list-main {
      display: grid;
      grid-template-columns: repeat(3, minmax(160px, 1fr));
      grid-template-rows: 1fr;
      gap: 32px;
    }
    &__item:last-child {
      display: none;
    }
  }
}
@media (max-width: 576px) {
  .cards {
    &__list-main {
      display: grid;
      grid-template-columns: repeat(2, minmax(160px, 1fr));
      grid-template-rows: 2fr;
      gap: 16px;
    }
    &__item:last-child {
      display: block;
    }
  }
}
