.catalog-top {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 320px;
  transform: translateY(-200%);
  transition: 0.9s;
  padding-top:102px;
  padding-bottom: 40px;
  z-index: 99;
  &--active {
    transform: translateY(0);
    transition: 0.9s;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
}
.catalog-top-item {
  &__link {
    @extend%rubik-700;
    font-size: 16px;
    color: $surface-text;
    transition: 0.3s;
    &:hover {
      color: $primary;
      transition: 0.3s;
    }
  }
  &__item + .catalog-top-item__item {
    margin-top: 24px;
  }
}
