body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: $bg;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1208px;
  margin: 0 auto;
}

