.logo{
  &__img{
    width: 152px;
    height: 32px;
  }
}
.header {
  background-color: $white;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 4px;
  &__inner {
    height: 72px;
    display: flex;
    align-items: center;
  }
  &__menu-btn {
    width: 140px;
    height: 40px;
    color: $white;
    background-color: $secondary;
    padding: 8px 8px 8px 40px;
    margin-left: 40px;
    text-align: center;
    border-radius: 4px;
    @extend%rubik-400;
    font-size: 16px;
    line-height: 150%;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      background-image: url("/images/icons/menu.svg");
      width: 24px;
      height: 24px;
      top: 8px;
      left: 12px;
    }
  }

  &__search {
    width: 375px;
    height: 40px;
    background: $white;
    border: 1px solid $secondary;
    border-radius: 4px;
    padding: 8px 42px 8px 16px;
    margin-left: 16px;
    color: $hard;
    font-size: 16px;
    line-height: 150%;
    background-image: url("/images/icons/search.svg");
    background-repeat: no-repeat;
    background-position: bottom 7px right 10px;
  }
}
.user {
  display: flex;
  align-items: center;
  margin-left: 40px;
  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 50px;
  }
  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: $surface-text;
  }
  &__btn + .user__btn {
    margin-left: 24px;
  }
  &__btn-icon {
    width: 24px;
    height: 24px;
  }
  &__account {
    width: 217px;
    padding: 16px 16px 16px 30px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    display: none;
  }
  &__login-btn {
    width: 157px;
    height: 40px;
    margin-left: 24px;
    padding: 8px 40px 8px 8px;
    border: none;
    border-radius: 4px;
    background-color: $primary;
    color: $white;
    @extend%rubik-400;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
  }
  &__login-btn:hover {
    background-color: $secondary;
    transition: 0.2s;
  }
  &__login-btn::before {
    position: absolute;
    content: "";
    background-image: url("/images/icons/log-in.svg");
    width: 24px;
    height: 24px;
    top: 8px;
    left: 120px;
  }
  &__name {
    margin-left: 10px;
    width: 85px;
    height: 40px;
    display: flex;
    align-items: center;
  }
}
