.slider {
  height: 200px;
  background-color: #fff;
  background-image: url("/images/slider/pattern-slider.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  align-items: flex-end;
  &__container {
    max-width: 1080px;
    margin: 0 auto;
  }
}
.slider-item {
  display: flex;
  align-items: center;
  &__img {
    display: block;
    object-fit: cover;
    width: 303px;
    height: 202px;
  }
  &__text {
    @extend%rubik-700;
    font-size: 48px;
    line-height: 150%;
    color: $surface-text;
    margin-left: 18px;
  }
}
@media (max-width: 1199px) {
  .slider {
    height: 160px;
  }
  .slider-item {
    &__text {
      font-size: 24px;
    }
    &__img {
      width: 198px;
      height: 132px;
    }
  }
}

@media (max-width: 768px) {
  .slider {
    align-items: center;
  }
  .slider-item {
    &__img {
      display: none;
    }
    &__text {
      @extend%rubik-700;
      font-size: 18px;
      color: $surface-text;
    }
  }
}
