.loyal, input,
select, label, .modal-reg, .articles-item__btn, .articles-item__text, .articles-item__date, .articles__all, .map__button, .special-item__subtitle, .earlier__all, .novelties__all, .promo__all, .menu-tablet__login-btn, .menu-tablet__link span, .user__login-btn, .menu__btn-catalog, .footer-list {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.modal-reg__text, .modal-reg__title, .articles-item__title, .map__title, .special-item__title, .special__title, .earlier__title, .novelties__title, .promo__title, .slider-item__text, .title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
}
/* rubik-700 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fbf8ec;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

ul[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: #414141;
}

.container {
  max-width: 1208px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: content-box;
}

.title {
  font-size: 36px;
  line-height: 150%;
  color: #414141;
}

.header {
  background-color: #fff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 4px;
}

.footer {
  background-color: #ccc;
}
.footer__wrapper {
  height: 126px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__row {
  display: flex;
  align-items: center;
}

.footer-list {
  display: flex;
  margin-left: 40px;
  font-size: 12px;
}
.footer-list__item + .footer-list__item {
  margin-left: 20px;
}

.footer-connection {
  width: 336px;
  display: flex;
  justify-content: space-between;
}
.footer-connection__list {
  display: flex;
}
.footer-connection__item + .footer-connection__item {
  margin-left: 24px;
}
.footer-connection__tel {
  width: 152px;
  height: 24px;
  text-align: right;
  padding-left: 32px;
  position: relative;
}
.footer-connection__tel::before {
  position: absolute;
  content: "";
  background-image: url("/images/icons/phone.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  top: 0;
  right: 125px;
}

@media (max-width: 768px) {
  .footer__row {
    width: 415px;
  }
}
.menu__list {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__btn-catalog {
  width: 140px;
  height: 40px;
  color: #fff;
  background-color: #70c05b;
  padding: 8px 8px 8px 40px;
  margin-left: 40px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 150%;
  position: relative;
}
.menu__btn-catalog:before {
  position: absolute;
  content: "";
  background-image: url("/images/menu/icons/menu.svg");
  width: 24px;
  height: 24px;
  top: 8px;
  left: 12px;
}
.menu__search {
  width: 375px;
  height: 40px;
  background: #fff;
  border: 1px solid #70c05b;
  border-radius: 4px;
  padding: 8px 42px 8px 16px;
  margin-left: 16px;
  color: #8f8f8f;
  font-size: 16px;
  line-height: 150%;
  background-image: url("/images/menu/icons/search.svg");
  background-repeat: no-repeat;
  background-position: bottom 7px right 10px;
}

.user {
  margin-left: 40px;
}
.user__item + .user__item {
  margin-left: 16px;
}
.user__list {
  display: flex;
  align-items: center;
}
.user__link {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #414141;
  font-size: 12px;
}
.user__link-icon {
  width: 24px;
  height: 24px;
}
.user__login-btn {
  width: 157px;
  height: 40px;
  margin-left: 8px;
  padding: 8px 40px 8px 8px;
  border: none;
  border-radius: 4px;
  background-color: #ff6633;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
.user__login-btn:hover {
  background-color: #70c05b;
  transition: 0.2s;
}
.user__login-btn::before {
  position: absolute;
  content: "";
  background-image: url("/images/menu/icons/log-in.svg");
  width: 24px;
  height: 24px;
  top: 8px;
  left: 120px;
}

@media (max-width: 1199px) {
  .menu {
    padding: 0 20px;
  }
  .menu__search {
    width: 336px;
  }
  .user {
    margin-left: 20px;
  }
  .user__login-btn {
    width: 40px;
    height: 40px;
    padding: 0;
  }
  .user__login-btn:before {
    left: 8px;
  }
  .user__login-btn span {
    display: none;
  }
}
@media (max-width: 992px) {
  .menu__btn-catalog {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    padding: 0px;
  }
  .menu__btn-catalog:before {
    left: 8px;
  }
  .menu__btn-catalog span {
    display: none;
  }
  .menu__login-btn {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .user {
    display: none;
  }
  .menu__btn-catalog {
    display: none;
  }
  .menu__search {
    width: 258px;
  }
}
@media (max-width: 360px) {
  .menu {
    padding: 0 16px;
  }
}
.menu-tablet {
  display: none;
}
.menu-tablet__list {
  height: 56px;
  padding: 8px 16px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 8px;
  line-height: 150%;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}
.menu-tablet__link {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.menu-tablet__link-icon {
  width: 24px;
  height: 24px;
}
.menu-tablet__link span {
  display: block;
  font-size: 8px;
  line-height: 150%;
}
.menu-tablet__login-btn {
  border-radius: 4px;
  border: none;
  background: none;
  font-size: 16px;
  width: 40px;
  height: 40px;
  background-color: #ff6633;
  color: #fff;
  border-radius: 4px;
  position: relative;
  transition: 0.2s;
}
.menu-tablet__login-btn:hover {
  background-color: #70c05b;
  transition: 0.2s;
}
.menu-tablet__login-btn::before {
  position: absolute;
  content: "";
  background-image: url("/images/menu/icons/log-in.svg");
  width: 24px;
  height: 24px;
  top: 8px;
  left: 8px;
}

@media (max-width: 767px) {
  .menu-tablet {
    display: block;
    width: 100%;
    z-index: 50;
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
.slider {
  height: 200px;
  background-color: #fff;
  background-image: url("/images/slider/pattern-slider.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.slider__container {
  max-width: 1080px;
  margin: 0 auto;
}

.slider-item {
  display: flex;
  align-items: center;
}
.slider-item__img {
  width: 303px;
  height: 202px;
}
.slider-item__text {
  font-size: 48px;
  line-height: 150%;
  color: #414141;
  margin-left: 18px;
}

.promo {
  padding-top: 76px;
  padding-bottom: 44px;
}
.promo__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.promo__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.promo__title {
  font-size: 36px;
  line-height: 150%;
}
.promo__all {
  padding: 8px 40px 8px 8px;
  font-size: 16px;
  line-height: 150%;
  color: #606060;
  position: relative;
}
.promo__all::after {
  position: absolute;
  content: "";
  background-image: url("/images/icons/arrow-right.svg");
  background-size: cover;
  width: 7px;
  height: 13px;
  top: 13px;
  right: 20px;
}
.promo__all:hover {
  color: black;
}

.novelties {
  padding-top: 76px;
  padding-bottom: 44px;
}
.novelties__title {
  font-size: 36px;
  line-height: 150%;
}
.novelties__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.novelties__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.novelties__all {
  padding: 8px 40px 8px 8px;
  font-size: 16px;
  line-height: 150%;
  color: #606060;
  position: relative;
}
.novelties__all::after {
  position: absolute;
  content: "";
  background-image: url("/images/icons/arrow-right.svg");
  background-size: cover;
  width: 7px;
  height: 13px;
  top: 13px;
  right: 20px;
}
.novelties__all:hover {
  color: black;
}

.earlier {
  padding-top: 76px;
  padding-bottom: 44px;
}
.earlier__title {
  font-size: 36px;
  line-height: 150%;
}
.earlier__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.earlier__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.earlier__all {
  padding: 8px 40px 8px 8px;
  font-size: 16px;
  line-height: 150%;
  color: #606060;
  position: relative;
}
.earlier__all::after {
  position: absolute;
  content: "";
  background-image: url("/images/icons/arrow-right.svg");
  background-size: cover;
  width: 7px;
  height: 13px;
  top: 13px;
  right: 20px;
}
.earlier__all:hover {
  color: black;
}

.special {
  padding-top: 76px;
  padding-bottom: 44px;
}
.special__title {
  font-size: 36px;
  line-height: 150%;
  margin-bottom: 40px;
}
.special__wrapper {
  display: flex;
  justify-content: space-between;
}
.special__link:hover {
  box-shadow: 0px 8px 16px rgba(202, 147, 96, 0.5);
  border-radius: 4px;
  transition: 0.2s;
}

.special-item {
  padding-top: 30px;
  border-radius: 4px;
  width: 584px;
  height: 200px;
}
.special-item__title {
  max-width: 260px;
  margin-left: 40px;
  margin-bottom: 6px;
  font-size: 24px;
  line-height: 150%;
  color: #414141;
}
.special-item__subtitle {
  max-width: 260px;
  margin-left: 40px;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
}
.special-item--cart {
  background-image: url("/images/specials/banner-x2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 584px;
  height: 200px;
}
.special-item--action {
  background-image: url("/images/specials/banner-hover-x2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 584px;
  height: 200px;
}

.map {
  padding-top: 76px;
  padding-bottom: 44px;
}
.map__title {
  font-size: 36px;
  line-height: 150%;
  margin-bottom: 40px;
}
.map__buttons {
  display: flex;
  margin-bottom: 24px;
}
.map__button {
  padding: 4px 8px;
  height: 32px;
  border: none;
  background-color: #f3f2f1;
  color: #606060;
  border-radius: 4px;
  font-size: 12px;
  line-height: 150%;
  transition: 0.2s;
  cursor: pointer;
}
.map__button:hover {
  background-color: #70c05b;
  color: #fff;
  transition: 0.2s;
}
.map__button + .map__button {
  margin-left: 24px;
}
.map__wrapper {
  width: 100%;
  height: 354px;
  background-image: url("/images/map.jpg");
  background-size: contain;
}

.articles {
  padding-top: 76px;
  padding-bottom: 44px;
  display: block;
}
.articles__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.articles__all {
  padding: 8px 40px 8px 8px;
  font-size: 16px;
  line-height: 150%;
  color: #606060;
  position: relative;
}
.articles__all::after {
  position: absolute;
  content: "";
  background-image: url("/images/icons/arrow-right.svg");
  background-size: cover;
  width: 7px;
  height: 13px;
  top: 13px;
  right: 20px;
}
.articles__all:hover {
  color: black;
}
.articles__items {
  display: flex;
  justify-content: space-between;
}

.articles-item {
  width: 376px;
  height: 100%;
  background: #fff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  overflow: hidden;
}
.articles-item__img {
  display: block;
  width: 100%;
  height: 162px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #fca21c;
}
.articles-item__main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.articles-item__date {
  display: block;
  font-size: 12px;
  line-height: 150%;
  color: #8f8f8f;
  margin-bottom: 10px;
}
.articles-item__title {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 150%;
  color: #414141;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.articles-item__text {
  max-height: 120px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.articles-item__btn {
  width: 150px;
  height: 40px;
  background-color: #E5FFDE;
  color: #70c05b;
  font-size: 16px;
  line-height: 150%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: auto;
  transition: 0.2s;
}
.articles-item__btn:hover {
  background-color: #70c05b;
  color: #fff;
  transition: 0.2s;
}
.articles-item:hover {
  box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
  transition: 0.2s;
}

.card {
  width: 272px;
  background-color: #fff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.card__img {
  width: 272px;
  height: 160px;
  margin-bottom: 8px;
}
.card__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.card__price-left {
  text-align: left;
}
.card__price-right {
  text-align: right;
}
.card__main {
  padding: 8px;
}
.card__price-col {
  display: flex;
  flex-direction: column;
}
.card__price-with-digit {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #414141;
}
.card__price-without-digit {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #606060;
}
.card__price-subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #bfbfbf;
}
.card__title {
  margin-bottom: 8px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-overflow: ellipsis;
}
.card__raiting {
  margin-bottom: 8px;
  display: flex;
}
.card__rating-star {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/icons/star.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.card__rating-star + .card__rating-star {
  margin-left: 4px;
}
.card__rating-star--active {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/icons/star-active.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.card__button {
  width: 256px;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  background-color: transparent;
  color: #70c05b;
  border: 1px solid #70c05b;
  cursor: pointer;
  transition: 0.2s;
}
.card__button:hover {
  color: #fff;
  background-color: #ff6633;
  border: 1px solid #ff6633;
  transition: 0.2s;
}

.modal-reg {
  width: 687px;
  height: 998px;
  padding: 72px 67.5px 40px;
  box-shadow: 8px 16px 32px rgba(255, 102, 51, 0.2);
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-reg__title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
  color: #414141;
}
.modal-reg__text {
  text-align: center;
  margin-bottom: 24px;
  font-size: 18px;
  color: #414141;
}
.modal-reg__top-main {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 260px);
  grid-template-rows: repeat(5, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 16px;
  margin-bottom: 40px;
}
.modal-reg__bottom-main {
  display: grid;
  grid-template-columns: repeat(2, 260px);
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 16px;
  margin-bottom: 40px;
}
.modal-reg__btn-more {
  width: 260px;
  height: 68px;
  background: #fcd5ba;
  border: none;
  border-radius: 4px;
  font-size: 24px;
  margin-bottom: 40px;
  cursor: pointer;
  color: #ff6633;
}
.modal-reg__btn-login {
  width: 121px;
  height: 32px;
  border: 1px solid #70c05b;
  background-color: transparent;
  color: #70c05b;
  border-radius: 4px;
  cursor: pointer;
}

label {
  color: #8f8f8f;
  font-size: 16px;
}

input,
select {
  width: 260px;
  height: 40px;
  padding: 8px 6px 8px 16px;
  border: 1px solid #bfbfbf;
  color: #414141;
  border-radius: 4px;
  font-size: 16px;
  background-color: transparent;
}
input:focus,
select:focus {
  border: 1px solid #70c05b;
  box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
}

select {
  padding: 8px 36px 8px 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  z-index: 2;
}

.select {
  position: relative;
}
.select:after {
  position: absolute;
  content: "";
  background-image: url("/images/checkbox/aroow-down.svg");
  width: 13px;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  right: 13.5px;
  z-index: 1;
}

.loyal {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.loyal input {
  opacity: 0;
  width: 20px;
  height: 20px;
}

.loyal label {
  width: 20px;
  height: 20px;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  position: absolute;
}

.loyal input:checked ~ .loyal__label {
  background-color: #70c05b;
  background-image: url(/images/checkbox/ok.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: content;
}

.loyal span {
  margin-left: 8px;
}

.sex__title {
  color: #8f8f8f;
}
.sex__wrap {
  background: #f3f2f1;
  display: flex;
  border-radius: 4px;
  width: 260px;
  height: 40px;
  padding: 4px;
}
.sex__row {
  width: 126px;
  height: 32px;
  position: relative;
}

.sex__input {
  opacity: 0;
  z-index: 10;
  cursor: pointer;
  position: absolute;
  border-radius: 4px;
}

.sex__label {
  width: 126px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #414141;
  border-radius: 4px;
  position: absolute;
}

.sex__label span {
  display: block;
}

.sex__input {
  width: 126px;
  height: 32px;
}

.sex__row input:checked ~ .sex__label {
  background-color: #70c05b;
  color: #fff;
}/*# sourceMappingURL=style.css.map */