@import "./scss/config/variables";
@import "./scss/fonts/fonts";
@import "./scss/config/config";
@import "./scss/config/mixins";

@import "./scss/header/header";
@import "./scss/header/catalog-top/catalog-top";
@import "./scss/footer/footer";
@import "./scss/breadcrumps/breadcrumps";

@import "./scss/menu/menu";
@import "./scss/menu/menu-tablet";

@import "./scss/catalog/catalog";
@import "./scss/category/category";

@import "./scss/sections/slider/slider";
@import "./scss/sections/card-wrapper/card-wrapper";
@import "./scss/sections/card-wrapper/cards/product-card";
@import "./scss/sections/special/specials";
@import "./scss/sections/map/map";
@import "./scss/sections/articles/articles";
@import "./scss/sections/articles/cards/article-card";

@import "./scss/modal/reg/reg";


