.specials {
  padding-top: 76px;
  padding-bottom: 44px;
  &__title {
    margin-bottom: 40px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.specials-offer {
  width: 584px;
  height: 200px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  &:hover {
    box-shadow: 0px 8px 16px rgba(202, 147, 96, 0.5);
    cursor: pointer;
    transition: 0.3s;
  }
  &__one {
    background: $primary-lite;
  }
  &__two img {
    padding-top: 20px;
  }
  &__two {
    background: $secondary-lite;
  }
  &__main {
    min-width: 258px;
    color: $surface-text;
    margin-left: 40px;
    margin-top: 30px;
  }
  &__title {
    @extend%rubik-700;
    font-size: 24px;
    margin-top: 6px;
  }
  &__subtitle {
    @extend%rubik-400;
    font-size: 16px;
  }
  &__img {
    padding-right: 10px;
  }
}

@media (max-width: 1208px) {
  .specials-offer {
    width: 352px;
    height: 170px;
    &__img {
      width: 165px;
      height: 110px;
    }
    &__title {
      font-size: 18px;
    }
    &__subtitle {
      font-size: 12px;
    }
    &__main {
      min-width: 174px;
      margin-left: 20px;
      margin-top: 20px;
    }
  }
}

@media (max-width: 750px) {
  .specials-offer {
    width: 584px;
    height: 200px;
    &__img {
      width: 206px;
      height: 138px;
    }
    &__title {
      font-size: 24px;
    }
    &__subtitle {
      font-size: 16px;
    }
    &__main {
      min-width: 258px;
      margin-left: 40px;
      margin-top: 30px;
    }
    &__one {
      margin-bottom: 16px;
    }
  }
  .specials {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
}
@media (max-width: 620px) {
  .specials-offer {
    overflow: hidden;
    width: 336px;
    height: 170px;
    &__img {
      width: 165px;
      height: 110px;
    }
    &__title {
      font-size: 18px;
    }
    &__subtitle {
      font-size: 12px;
    }
    &__main {
      min-width: 174px;
      margin-left: 20px;
      margin-top: 20px;
    }
  }
}
